.container {
	position: absolute;
	width: 452px;
	height: 452px;
	left: 20%;
}
.roulette {
	position: absolute;
	margin: 0 auto;
	width: 452px;
	height: 452px;
	background-color: red;
	background-image: url('images/phieneasroulette.png');
	border-radius: 452px;
}

.container .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 55px 30px 0 30px;
	border-color: #404040 transparent transparent transparent;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 30;
}

button{
	background: #000;
	color: #fff;
}